<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar">

    <ul class="uk-navbar-nav">
      <li><a routerLink="register">التسجيل</a></li>
      <li><a routerLink="login">دخول</a></li>
      <li><a routerLink="home">حرفة</a></li>
      <li><a routerLink="skills">المهارات</a></li>
      <li><a routerLink="mySkill">مهاراتي</a></li>
      <li>
        <a href="#">حسابي الشخصي</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><a routerLink="addSkill">اضف</a></li>
            <li><a href="#">خروج</a></li>
          </ul>
        </div>
      </li>
    </ul>

  </div>
</nav>