<div class="uk-container">
  <div class="uk-padding uk-padding-remove-horizontal">
    <fieldset class="uk-fieldset">

      <legend class="uk-legend">دخول</legend>

      <div class="uk-margin">
        <input class="uk-input" type="email" placeholder="بريد الكتروني" name="email" [(ngModel)]="email">
      </div>

      <div class="uk-margin">
        <input class="uk-input" type="password" placeholder="كلمة المرور" name="password" [(ngModel)]="password">
      </div>

        <div class="uk-margin">
          <button class="uk-button uk-button-primary" (click)="myLogin()" >دخول</button>
        </div>

    </fieldset>
  </div>
</div>